<html>

<head>
<title>Title</title>
</head>

<body>

<p>PlUpp är ett internt webbapp som hjälper att planera projekt, fördela resurser samt följa projekts budget. Det kopplar QBIS med vår egen planering system i Canopy. Om du är inte där än, du når det här
https://greensway.shinyapps.io/Plupp/</p>

<h2>Title</h2>
<div style='mso-element:para-border-div; mso-border-themecolor:
accent1;padding:0cm 0cm 0cm 0cm;background:#6AA039;mso-background-themecolor:
accent1'>
  <h3>Inlogning</h3>
</div>
<p></p>

<div style='mso-element:para-border-div; mso-border-themecolor:
accent1;padding:0cm 0cm 0cm 0cm;background:#6AA039;mso-background-themecolor:
accent1'>
  <h3>Månadsvis budget</h3>
</div>
<ul>
  <li></li>
  
</ul>

<div style='mso-element:para-border-div; mso-border-themecolor:
accent1;padding:0cm 0cm 0cm 0cm;background:#6AA039;mso-background-themecolor:
accent1'>
  <h3>Plannering</h3>
</div>
<p></p>


<div style='mso-element:para-border-div; mso-border-themecolor:
accent1;padding:0cm 0cm 0cm 0cm;background:#6AA039;mso-background-themecolor:
accent1'>
  <h3>Projekt portfolio</h3>
</div>
<p></p>

<div style='mso-element:para-border-div; mso-border-themecolor:
accent1;padding:0cm 0cm 0cm 0cm;background:#6AA039;mso-background-themecolor:
accent1'>
  <h3>Årets budget</h3>
</div>
<p></p>


</body>
</html>
